.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  min-height: 100vh;
}

.RobertScene {
display: flex;
justify-content: center;
}

.RobertsBody {
  display: grid;
  width: 100%;
}

.SpeechScene {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.SpeechBubble {
  display: flex;
  align-items: center;
  justify-content: center;
}

.VisibleSpeech {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  height: 20em;
  width: 20em;
  border-radius: 50% 50%;
}

.RenderScene{ 
  display: flex;
  align-items: center;
  justify-content: center;
}