#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 4fr 4fr 1fr 1fr;
  width: 100%;
  min-height: 100vh;
  max-width: 70em;
}
.RobertContainer {
  display: grid;
  width: 100%;
  grid-column: span 2;
  grid-row: span 2;
}

.SpeechContainer {
  display: grid;
  width: 100%;
  grid-column: span 2;
  grid-row: span 2;
}
.SpeechElementsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr, 2fr;
}

.SpeechBubble {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: span 1;
  grid-column: span 1;
}

.BubbleGoodies{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  text-align: center;
}

.DisplayBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  height: 100%;
  grid-column: span 1;
  grid-row: span 2;
}

.DisplayDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.WakeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
}
.EmptyDiv-1 {
  grid-column: span 1;
  grid-row: span 1;
}
.EmptyDiv-2 {
  grid-column: span 1;
  grid-row: span 1;
}
.ResetButton {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
}