body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Animations*/
.color-vibrate {
  -webkit-animation: color-vibrate 9s ease-in-out infinite both;
  animation: color-vibrate 9s ease-in-out infinite both;
}
@-webkit-keyframes color-vibrate {
  0% {
    
     box-shadow: 5px -3px 17px 0px #8B0C14, 3px -4px 17px 0px #d57373, 2px -2px 17px 0px #3a040b;
     text-shadow: 0px 0px 2px #8d0c14, 0px 0px 3px #e76d6d, 0px 0px 2px #f8dbdb;
  }
  25% {
    
      box-shadow: 5px -3px 17px 8px #8B0C14, 3px -4px 17px 8px #d57373, 2px -2px 17px 8px #3a040b;
      text-shadow: 0px 0px 4px #8d0c14, 0px 0px 4px #e76d6d 0px 0px 1px #f8dbdb;
  }
  50% {

    box-shadow: 5px -3px 17px 4px #8B0C14, 3px -4px 17px 4px #d57373, 2px -2px 17px 4px #3a040b;
    text-shadow: 0px 0px 6px #8d0c14, 0px 0px 2px #e76d6d;
  }
  75%{

    box-shadow: 5px -3px 17px 10px #8B0C14, 3px -4px 17px 10px #d57373, 2px -2px 17px 10px #3a040b;
    text-shadow: 0px 0px 4px #8d0c14, 0px 0px 5px #e76d6d 0px 0px 1px #f8dbdb;
  }
  100% {
    
     box-shadow: 5px -3px 17px 0px #8B0C14, 3px -4px 17px 0px #d57373, 2px -2px 17px 0px #3a040b;
     text-shadow: 0px 0px 2px #8d0c14, 0px 0px 3px #e76d6d, 0px 0px 2px #f8dbdb;
  }
}

@keyframes color-vibrate {
  0% {
    
    box-shadow: 5px -3px 17px 0px #8B0C14, 3px -4px 17px 0px #d57373, 2px -2px 17px 0px #3a040b;
    text-shadow: 0px 0px 2px #8d0c14, 0px 0px 3px #e76d6d, 0px 0px 2px #f8dbdb;
 }
 25% {
   
     box-shadow: 5px -3px 17px 8px #8B0C14, 3px -4px 17px 8px #d57373, 2px -2px 17px 8px #3a040b;
     text-shadow: 0px 0px 4px #8d0c14, 0px 0px 4px #e76d6d 0px 0px 1px #f8dbdb;
 }
 50% {

   box-shadow: 5px -3px 17px 4px #8B0C14, 3px -4px 17px 4px #d57373, 2px -2px 17px 4px #3a040b;
   text-shadow: 0px 0px 6px #8d0c14, 0px 0px 2px #e76d6d;
 }
 75%{

   box-shadow: 5px -3px 17px 10px #8B0C14, 3px -4px 17px 10px #d57373, 2px -2px 17px 10px #3a040b;
   text-shadow: 0px 0px 4px #8d0c14, 0px 0px 5px #e76d6d 0px 0px 1px #f8dbdb;
 }
 100% {
   
    box-shadow: 5px -3px 17px 0px #8B0C14, 3px -4px 17px 0px #d57373, 2px -2px 17px 0px #3a040b;
    text-shadow: 0px 0px 2px #8d0c14, 0px 0px 3px #e76d6d, 0px 0px 2px #f8dbdb;
 }
}

