body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Animations*/

.green_one {
  -webkit-animation: green_one linear 3s 1 both;
  animation: green_one linear 3s 1 both;
}
.green_two {
  -webkit-animation: green_two linear 3s 1 both;
  animation: green_two linear 3s 1 both;
}
.green_three {
  -webkit-animation: green_three linear 3s 1 both;
  animation: green_three linear 3s 1 both;
}
.green_four {
  -webkit-animation: green_four linear 3s 1 both;
  animation: green_four linear 3s 1 both;
}
.green_five {
  -webkit-animation: green_five linear 3s 1 both;
  animation: green_five linear 3s 1 both;
}
.green_six {
  -webkit-animation: green_six linear 3s 1 both;
  animation: green_six linear 3s 1 both;
}
.electric_on {
  -webkit-animation: electric_on ease-in 3s 1 both;
  animation: electric_on ease-in 3s 1 both;
}
.electric_on_body {
  -webkit-animation: electric_on_body ease-in 3s 1 both;
  animation: electric_on_body ease-in 3s 1 both;
}
.electric_on_eye {
  -webkit-animation: electric_on_eye ease-in 1s 1 both;
  animation: electric_on_eye ease-in 1s 1 both;
}

.fade-in-first {
  -webkit-animation: fade-in-first ease-in 5s 1 both;
  animation: fade-in-first ease-in 5s 1 both;
}
.fade-in-fifth {
  -webkit-animation: fade-in-fifth ease-in 3s 1 both;
  animation: fade-in-fifth ease-in 3s 1 both;
}
.fade-in-fourth {
  -webkit-animation: fade-in-fourth ease-in 3s 1 both;
  animation: fade-in-fourth ease-in 3s 1 both;
}
/*
.fade-in-second {
  -webkit-animation: fade-in-second ease-in 1.5s 1 both;
  animation: fade-in-second ease-in 1.5s 1 both;
}
.fade-in-third {
  -webkit-animation: fade-in-third ease-in 2s 1 both;
  animation: fade-in-third ease-in 2s 1 both;
}


*/
.color-vibrate {
  -webkit-animation: color-vibrate 9s ease-in-out infinite both;
  animation: color-vibrate 9s ease-in-out infinite both;
}
.mouth-droop {
  -webkit-animation: mouth-droop 9s ease-in-out infinite both;
  animation: mouth-droop 9s ease-in-out infinite both;
}
.sleep-twitch {
  -webkit-animation: sleep-twitch 6s ease-in-out infinite both;
  animation: sleep-twitch 6s ease-in-out infinite both;
}
.leaf-twitch {
  -webkit-animation: leaf-twitch 4s ease-in-out infinite both;
  animation: leaf-twitch 4s ease-in-out infinite both;
}

@-webkit-keyframes color-vibrate {
  0% {
    
     box-shadow: 5px -3px 17px 0px #8B0C14, 3px -4px 17px 0px #d57373, 2px -2px 17px 0px #3a040b;
     text-shadow: 0px 0px 2px #8d0c14, 0px 0px 3px #e76d6d, 0px 0px 2px #f8dbdb;
  }
  25% {
    
      box-shadow: 5px -3px 17px 8px #8B0C14, 3px -4px 17px 8px #d57373, 2px -2px 17px 8px #3a040b;
      text-shadow: 0px 0px 4px #8d0c14, 0px 0px 4px #e76d6d 0px 0px 1px #f8dbdb;
  }
  50% {

    box-shadow: 5px -3px 17px 4px #8B0C14, 3px -4px 17px 4px #d57373, 2px -2px 17px 4px #3a040b;
    text-shadow: 0px 0px 6px #8d0c14, 0px 0px 2px #e76d6d;
  }
  75%{

    box-shadow: 5px -3px 17px 10px #8B0C14, 3px -4px 17px 10px #d57373, 2px -2px 17px 10px #3a040b;
    text-shadow: 0px 0px 4px #8d0c14, 0px 0px 5px #e76d6d 0px 0px 1px #f8dbdb;
  }
  100% {
    
     box-shadow: 5px -3px 17px 0px #8B0C14, 3px -4px 17px 0px #d57373, 2px -2px 17px 0px #3a040b;
     text-shadow: 0px 0px 2px #8d0c14, 0px 0px 3px #e76d6d, 0px 0px 2px #f8dbdb;
  }
}

@keyframes color-vibrate {
  0% {
    
    box-shadow: 5px -3px 17px 0px #8B0C14, 3px -4px 17px 0px #d57373, 2px -2px 17px 0px #3a040b;
    text-shadow: 0px 0px 2px #8d0c14, 0px 0px 3px #e76d6d, 0px 0px 2px #f8dbdb;
 }
 25% {
   
     box-shadow: 5px -3px 17px 8px #8B0C14, 3px -4px 17px 8px #d57373, 2px -2px 17px 8px #3a040b;
     text-shadow: 0px 0px 4px #8d0c14, 0px 0px 4px #e76d6d 0px 0px 1px #f8dbdb;
 }
 50% {

   box-shadow: 5px -3px 17px 4px #8B0C14, 3px -4px 17px 4px #d57373, 2px -2px 17px 4px #3a040b;
   text-shadow: 0px 0px 6px #8d0c14, 0px 0px 2px #e76d6d;
 }
 75%{

   box-shadow: 5px -3px 17px 10px #8B0C14, 3px -4px 17px 10px #d57373, 2px -2px 17px 10px #3a040b;
   text-shadow: 0px 0px 4px #8d0c14, 0px 0px 5px #e76d6d 0px 0px 1px #f8dbdb;
 }
 100% {
   
    box-shadow: 5px -3px 17px 0px #8B0C14, 3px -4px 17px 0px #d57373, 2px -2px 17px 0px #3a040b;
    text-shadow: 0px 0px 2px #8d0c14, 0px 0px 3px #e76d6d, 0px 0px 2px #f8dbdb;
 }
}
@-webkit-keyframes mouth-droop {
  0% {
    
    border-top-right-radius: 5em;
    border-top-left-radius: 5em;
  }
  25% {
    
    border-top-right-radius: 5.5em;
    border-top-left-radius: 5.5em;
  }
  50% {

    border-top-right-radius: 6em;
    border-top-left-radius: 6em;
  }
  75%{

    border-top-right-radius: 5.5em;
    border-top-left-radius: 5.5em;
  }
  100% {
    
    border-top-right-radius: 5em;
    border-top-left-radius: 5em;
  }
}

@keyframes mouth-droop {
  0% {
    
    border-top-right-radius: 5em;
    border-top-left-radius: 5em;
  }
  25% {
    
    border-top-right-radius: 5.5em;
    border-top-left-radius: 5.5em;
  }
  50% {

    border-top-right-radius: 6em;
    border-top-left-radius: 6em;
  }
  75%{

    border-top-right-radius: 5.5em;
    border-top-left-radius: 5.5em;
  }
  100% {
    
    border-top-right-radius: 5em;
    border-top-left-radius: 5em;
  }
}
@-webkit-keyframes sleep-twitch {
  0% {
    
   height: 2.5em
  }
 74%{
    height:2.5em
 }
  75%{

    height: 2em
  }
  80%{
    height: 3em;
  }
  100% {
    
    height: 2.5em;
  }
}

@keyframes sleep-twitch {
  0% {
    
    height: 2.5em
   }
  74%{
     height:2.5em
  }
   75%{
 
     height: 2em
   }
   80%{
     height: 3em;
   }
   100% {
     
     height: 2.5em;
   }
}
@-webkit-keyframes leaf-twitch {
  0% {
    
    transform: none;
   }
  74%{
    transform: none;
  }
   75%{
 
     transform: rotate3d(1, 1, 1, 15deg);
   }
   80%{
     transform: none;
   }
   100% {
     
    transform: none;
   }
}

@keyframes leaf-twitch {
  0% {
    
    transform: none;
   }
  74%{
    transform: none;
  }
   75%{
 
    transform: rotate3d(1, 1, 1, 15deg);
   }
   80%{
     transform: none;
   }
   100% {
     
    transform: none;
   }
}

@-webkit-keyframes fade-in-first {
  0% {
    opacity: 1;
    background: transparent;
  }
  90% {
    opacity: 50%;
    background: transparent;
  }
  100% {
    opacity: 1;
    background: #8B0C14;
}
}
@keyframes fade-in-first {
  0% {
    opacity: 1;
    background: transparent;
  }
  90% {
    opacity: 50%;
    background: transparent;
  }
  100% {
    opacity: 1;
    background: #8B0C14;
}
}
@-webkit-keyframes fade-in-second {
  0% {
      opacity: 0;
  }
  70% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fade-in-second {
  0% {
      opacity: 0;
  }
  70% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@-webkit-keyframes fade-in-third {
  0% {
      opacity: 0;
  }
  70% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fade-in-third {
  0% {
      opacity: 0;
  }
  70% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}
@-webkit-keyframes fade-in-fourth {
  0% {
      opacity: 0;
  }
  70% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fade-in-fourth {
  0% {
      opacity: 0;
  }
  70% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@-webkit-keyframes fade-in-fifth {
  0% {
      opacity: 0;
  }
  80% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fade-in-fifth {
  0% {
      opacity: 0;
  }
  80% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@-webkit-keyframes electric_on {
  0% {
    box-shadow:none;
  }
  33%{
    box-shadow: none;
  }
  40% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  43%{
    box-shadow: none;
  }
  53%{
    box-shadow:none;
  }
  60% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  63%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272, 0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b, inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
    }
  64%{
    box-shadow: none;
  }
  65%{
    box-shadow: none;
  }

  66% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  100% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272, 0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b, inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
}

@keyframes electric_on {
  0% {
    box-shadow:none;
  }
  33%{
    box-shadow: none;
  }
  40% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  43%{
    box-shadow: none;
  }
  53%{
    box-shadow:none;
  }
  60% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  63%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272, 0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b, inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
    }
  64%{
    box-shadow: none;
  }
  65%{
    box-shadow: none;
  }

  66% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  100% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272, 0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b, inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
}

@-webkit-keyframes electric_on_body {
  0% {
    box-shadow:none;
  }
  65%{
    box-shadow: none;
  }
  66% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  70%{
    box-shadow: none;
  }
  74%{
    box-shadow: none;
  }
  75%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272, 0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b, inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  80%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }

  100% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272, 0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b, inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
}

@keyframes electric_on_body {
  0% {
    box-shadow:none;
  }
  65%{
    box-shadow: none;
  }
  66% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  70%{
    box-shadow: none;
  }
  74%{
    box-shadow: none;
  }
  75%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272, 0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b, inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  80%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }

  100% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272, 0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b, inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
}

@-webkit-keyframes green_one {
  0% {
    box-shadow: none;
  }
  5% {
    box-shadow: none;
  }
  6%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  33%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  34%{
    box-shadow: none;
  }
  99% {
   box-shadow: inherit;
  }
  100% {
    box-shadow: 2px -1px rgb(1 0 0 / 51%);
  }
}

@keyframes green_one {
  0% {
    box-shadow: none;
  }
  5% {
    box-shadow: none;
  }
  6%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  33%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  34%{
    box-shadow: none;
  }
  99% {
    box-shadow: inherit;
   }
   100% {
    box-shadow: 2px -1px rgb(1 0 0 / 51%);
  }
}

@-webkit-keyframes green_two {
  0% {
    box-shadow: none;
  }
  9% {
    box-shadow: none;
  }
  10%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  33%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  34%{
    box-shadow: none;
  }
  99% {
    box-shadow: inherit;
   }
   100% {
    box-shadow: 2px -1px rgb(1 0 0 / 51%);
  }
}

@keyframes green_two {
  0% {
    box-shadow: none;
  }
  9% {
    box-shadow: none;
  }
  10%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  33%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  34%{
    box-shadow: none;
  }
  99% {
    box-shadow: inherit;
   }
   100% {
    box-shadow: 2px -1px rgb(1 0 0 / 51%);
  }
}

@-webkit-keyframes green_three {
  0% {
    box-shadow: none;
  }
  15% {
    box-shadow: none;
  }
  16%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  33%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  34%{
    box-shadow: none;
  }
  99% {
    box-shadow: inherit;
   }
   100% {
    box-shadow: 2px -1px rgb(1 0 0 / 51%);
  }
}
@keyframes green_three {
  0% {
    box-shadow: none;
  }
  15% {
    box-shadow: none;
  }
  16%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  33%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  34%{
    box-shadow: none;
  }
  99% {
    box-shadow: inherit;
   }
   100% {
    box-shadow: 2px -1px rgb(1 0 0 / 51%);
  }
}

@-webkit-keyframes green_four {
  0% {
    box-shadow: none;
  }
  19% {
    box-shadow: none;
  }
  20%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  33%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  34%{
    box-shadow: none;
  }
  99% {
    box-shadow: inherit;
   }
   100% {
    box-shadow: 2px -1px rgb(1 0 0 / 51%);
  }
}

@keyframes green_four {
  0% {
    box-shadow: none;
  }
  19% {
    box-shadow: none;
  }
  20%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  33%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  34%{
    box-shadow: none;
  }
  99% {
    box-shadow: inherit;
   }
   100% {
    box-shadow: 2px -1px rgb(1 0 0 / 51%);
  }
}
@-webkit-keyframes green_five {
  0% {
    box-shadow: none;
  }
  23% {
    box-shadow: none;
  }
  24%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  33%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  34%{
    box-shadow: none;
  }
  99% {
    box-shadow: inherit;
   }
   100% {
    box-shadow: 2px -1px rgb(1 0 0 / 51%);
  }
}

@keyframes green_five {
  0% {
    box-shadow: none;
  }
  23% {
    box-shadow: none;
  }
  24%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  33%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  34%{
    box-shadow: none;
  }
  99% {
    box-shadow: inherit;
   }
   100% {
    box-shadow: 2px -1px rgb(1 0 0 / 51%);
  }
}
@-webkit-keyframes green_six {
  0% {
    box-shadow: none;
  }
  27% {
    box-shadow: none;
  }
  28%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  33%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  34%{
    box-shadow: none;
  }
  99% {
    box-shadow: inherit;
   }
   100% {
    box-shadow: 2px -1px rgb(1 0 0 / 51%);
  }
}

@keyframes green_six {
  0% {
    box-shadow: none;
  }
  27% {
    box-shadow: none;
  }
  28%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  33%{
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #66FF66, 0 0 4vw 0.4vw #41FF00 , inset 0 0 1.5vw 0.4vw #41FF00 , inset 0 0 0.4vw 0.2vw #66FF66, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  34%{
    box-shadow: none;
  }
  99% {
    box-shadow: inherit;
  }
  100% {
    box-shadow: 2px -1px rgb(1 0 0 / 51%);
  }
}


